#content_wrapper
{
    width: 1000px;
    height: auto;
    //border: groove;
	margin: auto;
}

#header {
   width: auto;
   height: 50px;
   border: groove;
 }
#left-pane {
    width: 20%;
    height: 750px;
	float:left;
    border: groove;
 }
#central-pane {
    width: 78%;
    height: 750px;
    float:left;
    border: groove;
	margin:auto;
	margin-left: 8px;
 }
#footer {
    width: auto;
    height: 50px;
    border: groove;
	clear: both;
 }
ul
{
    list-style-type: none;
}
li{
	margin:5px;
}

.nav-button{
	width: 100px;
}

.head-line{
	text-align: center;
}

#grid-wrapper{
	height: auto;
	//display: none;
}

#name-area{
	margin-top:15px;
	margin-left:5px;
}

.sfont{
	font: 15px Georgia, Ariel;
	color: #A00000 ;
	padding-top: 10px;
}